# Engine env
ENGINE_PORT=
BACK_URL=
RABBITMQ_URL=
ENGINE_ANTIGINX_CALL=


# Backend env
BACKEND_PORT=
DATABASE_URL=
RABBITMQ_URL=
JWT_SECRET=


# Frontend
FRONTEND_PORT=
NEXT_PUBLIC_BACKEND_URL=


# RabbitMQ
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_PORT=
RABBITMQ_MANAGEMENT_PORT=


# Dane logowania do PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=


# Juice-Shop
JUICE_SHOP_PORT="10.10.0.1:3000"